*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: white;
  font-size: 1rem;
}

.logo{
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
 
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  background-color: white;
  box-shadow: 0 5px 15px rgb(85, 72, 72);
}

.bars{
  font-size: 2rem;
  color: darkgreen;
  cursor: pointer;
}
.bars:hover{
  color: black;
}
.menu a{
  color: gray;
  display: block;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  transition: all 0.2s  linear;
}
.menu a:hover{
  background-color: aqua;
  color: gainsboro;
  padding-left: 1.4rem;
}
.menu{
  height: 0;
  overflow: hidden;
}
.show-menu{
  height: auto;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media(min-width: 800px){
  .nav-main{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .nav-header{
    padding: 0;
  }
  .bars{
    display: none;
  }
  .menu{
    height: auto;
    display: flex;
    transition: all 0.4s linear;
  }
  .menu a{
    transition: all 0.3s ease-in;
  }
  .menu a:hover{
    background-color: transparent;
    padding: 0;
  }
}